<p id="notice"><%= notice %></p>
<%=  @acts_as_taggable_on_tag.name %>
<%= link_to 'Edit', edit_acts_as_taggable_on_tag_path(@acts_as_taggable_on_tag) %> |
<%= link_to 'Back', acts_as_taggable_on_tags_path %>
